.customDiv {
    background-color: aliceblue;
    width: 25%;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
}

.container {
    display: flex;

}

.container2 {
    display: flex;
    flex-direction: column;
}